<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tbs.sales">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <receiver
            android:name=".receiver.MyJpushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户点击处理 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->

                <category android:name="com.tbs.sales" />
            </intent-filter>
        </receiver>
        <!-- Android 7.0 获取文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tbs.sales.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.LoginActivity">

        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".activity.HomePagerActivity" />
        <activity android:name=".activity.ClientActivity" />
        <activity android:name=".activity.ApplicationActivity" />
        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.AddActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.PeopleMessageActivity" />
        <activity android:name=".activity.EditNameActivity" />
        <activity android:name=".activity.EditPhoneActivity" />
        <activity android:name=".activity.AccountSecurityActivity" />
        <activity android:name=".activity.HomeSearchActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.HelpCenterActivity" />
        <activity android:name=".activity.GuidePageActivity" />
        <activity android:name=".activity.ClientDetailsActivity" />
        <activity android:name=".activity.MineClientActivity" />
        <activity android:name=".activity.AddClientActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.ClientMessageActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.ClientEditActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.GiveUpClientActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.TransactionClientActivity" />
        <activity android:name=".activity.IntegratedQueryActivity" />
        <activity android:name=".activity.InteratedQuerySearchActivity" />
        <activity android:name=".activity.FollowRecordingActivity" />
        <activity android:name=".activity.TransferActivity" />
        <activity android:name=".activity.ClientMessageQueryActivity" />
        <activity android:name=".activity.SelectReceivePeopleActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
    </application>

</manifest>