<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tbs.sales">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="27"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">

        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <activity android:name=".activity.HomePagerActivity"/>
        <activity android:name=".activity.ClientActivity"/>
        <activity android:name=".activity.ApplicationActivity"/>
        <activity android:name=".activity.MineActivity"/>
        <activity android:name=".activity.AddActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.PeopleMessageActivity"/>
        <activity android:name=".activity.EditNameActivity" />
        <activity android:name=".activity.EditPhoneActivity" />
        <activity android:name=".activity.AccountSecurityActivity" />
        <activity android:name=".activity.HomeSearchActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.NoticeActivity" />
    </application>

</manifest>